spring:
  config:
    import:
      - api.yml
      - oauth2.yml
      - app.yml

  data:
    redis:
      host: localhost
      port: 6379
      repositories:
        enabled: false

  datasource:
    url: jdbc:mariadb://localhost:3306/ersentinel?allowPublicKeyRetrieval=true&useSSL=false
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1592

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true

    show-sql: false
logging:
  config: classpath:logback-spring.xml
