.mapContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s;
  margin-right: 10px;
}

.buttonAcongestion {
  background-color: #ff5733;
}

.buttonDefault {
  background-color: #ddd;
}

.map {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  border: 1px solid #ddd;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapImage {
  width: 100%;
  max-width: 500px;
}
